doctype html
html

    head
        title Profile


        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0")
 
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    

        link(rel="stylesheet" type="text/css" href="/css/profile.css")
       
        script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")

        script.
                $(document).ready(function(){
                    document.querySelector('body').style.height = screen.availHeight;
                    document.querySelector('body').style.width = screen.availWidth;
                });

    body
        div
            div#top_bar
                button.open_btn(onclick="openNav()") &#9776;

                label(for="top_list")
                    select#top_list(name="log_out")
                        option(value="userName") #{myinfo.name}
                        option(value="logOut") Log Out


            div#side_bar
                p SIS 
                  a( href="javascript:void(0)" class="close_btn" onclick="closeNav()") &#9776;

                ul
                    li
                        a(href="/dashboard") Dashboard
                    li
                        a(href="/profile") Profile
                    li
                        a(href="/results") Result
                    li
                        a(href="/10.220.20.12") Internet Acoount
                    li
                        a(href="/change_password") Change Password

            p#heading Profile

            div#main_section
                div#first_part
                    div#left_subpart

                        div.unit Student ID
   
                        div.unit_element= myinfo.student_id
                           
                     
                        hr

                        div.unit
                            Student Name
                        
                        div.unit_element= myinfo.name
                       
                        hr

                        div.unit.
                            Student Type 
                       
                        div.unit_element= myinfo.role
           

                    div#middle_subpart

                        div.unit.
                            Current AY
                        
                        div.unit_element.
                            2019-2020
                            
                       
                        hr

                        div.unit(style={"height": "8em"}).
                            Current Semester
                        
                        div.unit_element(style={"height": "8em"}).
                            5
                            
                

                    div#right_subpart
                        img(src=`/images/users/${myinfo.photo}` alt= `${myinfo.name}photo`) 
               
                form#second_part
                    
                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Department:
                      
                        div(class="info").
                            #{myinfo.dept}
                    


                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Enrollment Year:
                        
                        div(class="info").
                            2017 
                        

                    hr

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Nationality:
                     
                        div(class="info").
                            #{myinfo.nationality}
                  

                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Date of Birth:
                        
                        div(class="info").
                            #{myinfo.dob}
                 
                    br

                    div
                        div(class="info_piece").
                            Gender:
                        
                        div(class="info").
                            #{myinfo.gender}
                   
                    div(class="subheading").
                        Contact
                  

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Email-address:
                       
                        div(class="info").
                            #{myinfo.email}
                  
                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Mobile Number:
                        
                        div(class="info").
                            #{myinfo.phone}

                        input(class="editField info" type="tel" name="userPhone" id="userPhone")
                    

                    br

                    div
                        div(class="info_piece").
                            Home address:
                        
                        div(class="info").
                            #{myinfo.present_address}

                        input(class="editField info" type="text" name="userAddress" id="userAddress")
                      

                    div(class="subheading").
                        Guardian
                    

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Guardian's Name:
                        
                        div(class="info").
                            #{myinfo.guardian_name}
                      

                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Guardian's Phone:
                        
                        div(class="info").
                            #{myinfo.guardian_phone}

                        input(class="editField info" type="tel" name="guardianPhone" id="guardianPhone")
                        
                

                    br

                    div
                        div(class="info_piece").
                            Guardian's address:
                        
                        div(class="info").
                            #{myinfo.guardian_address}

                        input(class="editField info" type="text" name="guardianAddress" id="guardianAddress")
                        

                    hr

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Father's Name:
                        
                        div(class="info").
                            #{myinfo.father_name}
                        
        

                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Mother's Name:
                        
                        div(class="info").
                            #{myinfo.mother_name}
                       

                    br

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Father's profession:
                        
                        div(class="info").
                            #{myinfo.father_profession}
                      

                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Mother's profession:
                        
                        div(class="info").
                            #{myinfo.mother_profession}
                     

                    div(class="unit_box" style={"float": "left"})
                        div(class="info_piece").
                            Father's Phone:
                        
                        div(class="info").
                            #{myinfo.father_phone}

                        input(class="editField info" type="tel" name="fatherPhone" id="fatherPhone")
                        
                

                    div(class="unit_box" style={"float": "right"})
                        div(class="info_piece").
                            Mother's Phone:
                        
                        div(class="info").
                            #{myinfo.mother_phone}

                        input(class="editField info" type="tel" name="motherPhone" id="motherPhone")
                        

                    button(id="formbtn" type="submit" name="edit") Update

            

        script(src="/frontend_js/side_bar.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
        script(src="/frontend_js/login.js")
        script(src="/frontend_js/updateMe.js")
        //-script(src="/frontend_js/profile.js")
    
